<%- include('../../shared/includes/head', {pageTitle: 'All your orders' }) %>

    </head>

    <body>
        <main>
            <%- include('../../shared/includes/header') %>
                <h1>All orders</h1>
               

        </main>

        <%- include('../../shared/includes/footer') %>