.cart-item {
    display: flex;
    flex-direction: column;
    background-color: #d7dddd;
    padding: var(--space-4);
    align-items: center;
    margin: var(--space-4) 0;
    border-radius: var(--border-radius-medium);

}

.cart-item h2 {
    font-size: 1rem;
    margin: 0;
}

.cart-item input {
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    border: none;
    width: 50%;
}

.cart-product-price {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

 .cart-total {
    font-size: 1.3rem;
    font-weight: bold;
    color: #212121;
    margin-top: 2rem;
}

.cart-item-info {
    font-family: Arial, Helvetica, sans-serif;
} 

#cart-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-final #cart-total-fallback {
    font-size: 1rem;
    font-weight: normal;
    color: rgb(190, 69, 69);
}

@media (min-width: 48rem) {
    .cart-item {
        flex-direction: row;
        justify-content: space-between;
    }

    #cart-final {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #cart-final #cart-total-fallback {
        font-size: 1rem;
        font-weight: normal;
        color: rgb(190, 69, 69);
    }
    
}
