<%- include('../../shared/includes/head', {pageTitle: 'All products'}) %>
</head>

<body>
    <main>
        <%- include('../../shared/includes/header') %>
        <h1>All Products</h1>
        <p>A List Of Products...</p>

    </main>

<%- include('../../shared/includes/footer') %>
    
