<%- include('../../shared/includes/head', {pageTitle: 'Login'}) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
    <main>
        <%- include('../../shared/includes/header') %>
        <h1>Login</h1>
        <form action="/signup" mathod="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">

           <p>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
           </p>
           <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="6" required>
           </p>
           
           <button class="btn">Login</button>
           <p id="switch-form"><a href="/signup">Create account</a></p>
        </form>
    </main>

<%- include('../../shared/includes/footer') %>
    
