<%- include('../includes/head', {pageTitle: 'Signup'}) %>
</head>

<body>
    <main>
        <%= include('../includes/header') %>
        <h1>Create New Account</h1>\
        <form action="">
            
        </form>
    </main>

<%- include('../includes/footer') %>
    
